.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  border-radius: 2px;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding, .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  transform: translate3d(0, -100%, 0);
  list-style: none;
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: #444;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("https://avatars.githubusercontent.com/u/105801170?s=400&u=768e67c843441822df7e79d887a15e14b368b07d&v=4");
  background-attachment: fixed;
  background-size: cover;
  border: 3px solid #eece1a;
  border-radius: 50%;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #eece1a;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  background-color: #eece1a;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  height: 100%;
  background: #444;
  color: #fff;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body#bg-image {
  background: url("https://raw.githubusercontent.com/sarbanandabhikkhu/sarbanandabhikkhu/main/assets/monk.gif");
  background-attachment: fixed;
  background-size: cover;
}
body#bg-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.5);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  font-size: 2rem;
  padding: 2rem 1rem;
  border-radius: 3px;
  background: rgba(73, 73, 73, 0.5);
}

a {
  display: inline-flex;
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondery {
  color: #eece1a;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
main .icons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main .icons a {
  padding: 0.4rem;
}
main .icons a:hover {
  transition: all 0.5s ease-out;
  color: #eece1a;
}
main .icons a img {
  height: 40px;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}
main path {
  fill: #fff;
  stroke: none;
  opacity: 0.06;
}
main .segment {
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}
main .segment.on {
  opacity: 1;
}
main .separator {
  opacity: 1;
  animation: dots 1s infinite;
}
@keyframes dots {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimg bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  width: 250px;
  height: 250px;
  grid-area: bioimg;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #eece1a;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job {
  padding: 0.5rem;
  background: #515151;
  border-bottom: 5px solid #eece1a;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
}
.projects img {
  width: 100%;
  padding: 10px;
  border: 3px solid #fff;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #eece1a;
  background: #eece1a;
  transition: all 0.5s ease-out;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.contact-form .boxes {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}
.contact-form .boxes div {
  padding: 1rem 0.5rem;
  transition: all 0.5s ease-out;
}
.contact-form .boxes div:hover {
  color: #eece1a;
}
.contact-form .boxes div:hover span {
  color: #fff;
}
.contact-form form {
  width: 100%;
  max-width: 600px;
}
.contact-form form .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-form form .row .input-group {
  flex-basis: 48%;
}
.contact-form form .input-group {
  margin-bottom: 2rem;
  position: relative;
}
.contact-form form .input-group input,
.contact-form form .input-group textarea {
  width: 100%;
  padding: 1rem;
  outline: none;
  background: transparent;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  color: #fff;
}
.contact-form form .input-group label {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: text;
  padding: 1rem;
  transition: 0.2s;
  color: #c4c4c4;
}
.contact-form form .input-group input:focus ~ label,
.contact-form form .input-group input:valid ~ label,
.contact-form form .input-group textarea:focus ~ label,
.contact-form form .input-group textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
  margin-left: -1rem;
}
.contact-form form button {
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
  background: transparent;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn, .btn-light, .btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;
}
.btn:hover, .btn-light:hover, .btn-dark:hover {
  background: #eece1a;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #000;
}

#main-footer {
  padding: 1rem;
  text-align: center;
  color: #fff;
  background: #2b2b2b;
}

@media screen and (min-width: 1171) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100, 0, 0);
  }
  .menu-branding .portrait {
    width: 150px;
    height: 150px;
  }
  .lg-heading {
    margin-top: 12vh;
    font-size: 3rem;
  }
  .about-info {
    grid-template-areas: "bioimg" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
  .about-info .bio-image {
    height: 250px;
    margin: 50px auto;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-form form .row {
    display: block;
    margin-bottom: 1rem;
  }
  .contact-form form .row .input-group {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .menu-nav {
    transform: translate3d(0, 100%, 0);
  }
  .menu-nav .nav-item > a {
    font-size: 20px;
  }
  .menu-branding {
    transform: translate3d(0, -100%, 0);
  }
  .menu-branding .portrait {
    width: 125px;
    height: 125px;
  }
  main#home .lg-heading {
    margin-top: 12vh;
    font-size: 4rem;
    font-weight: 600;
  }
  main#home .lg-heading span {
    font-size: 6.3rem;
    font-weight: 400;
  }
  main#home .sm-heading {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 0.5rem;
    background: rgba(73, 73, 73, 0.5);
  }
  main#home .icons {
    margin-top: 30px;
  }
  main#home a {
    font-size: 1.2rem;
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
